.profile__username {
  padding-left: 30px;
  padding-right: 18px;
  max-width: 66vh;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 767px) and (max-width:934px) {
  .profile__username{
    max-width: 45vh;
  }
}

@media screen and (min-width: 320px) and (max-width:767px) {
  .profile__username{
    padding-right: 10px;
    max-width: 50vh;
  }
}
